<h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p>

<div class="photos_list">
  <% @photos.each do |photo| -%>
    <div class="photo_thumb">
      <div class="image"><%= link_to(image_tag(photo.image.url(:thumb), :size => '100x100'), photo_url(:id => photo.id)) %></div>
      <div class="title"><%= photo.title %></div>
      <div class="tags"><%= photo.tag_list %></div>
    </div>
  <% end -%>
</div>
