.photo
  .image= image_tag(@photo.image.url, 'data-image-width' => @photo.image_width, 'data-image-height' => @photo.image_height)
  .title= @photo.title
  - unless @photo.tag_list.empty?
    .tags= @photo.tag_list

:javascript
  $(function() {
    $(window).bind('load resize', function() {
      $('.image img').each(function() {
        var imageElement = $(this);
        var imageContainer = $(this).parent('.image');
        if (imageElement.data('imageWidth') / imageElement.data('imageHeight') >= imageContainer.innerWidth() / imageContainer.innerHeight()) {
          imageElement.css('width', imageContainer.innerWidth() + 'px');
        } else {
          imageElement.css('height', imageContainer.innerHeight() + 'px');
        }
      });
    });
  });
