.photo
  .image= image_tag(@photo.image.url, 'data-image-width' => @photo.image_width, 'data-image-height' => @photo.image_height)
  = render :partial => 'editable_attr', :locals => { :attr_name => 'title', :attr_value => @photo.title }
  = render :partial => 'editable_attr', :locals => { :attr_name => 'tag_list', :attr_value => @photo.tag_list.empty? ? 'no tags' : @photo.tag_list }

:javascript
  $(function() {
    $(window).bind('load resize', function() {
      $('.photo .image img').each(function() {
        var imageElement = $(this);
        var imageContainer = $(this).parent('.image');
        if (imageElement.data('imageWidth') / imageElement.data('imageHeight') >= imageContainer.innerWidth() / imageContainer.innerHeight()) {
          imageElement.css('width', imageContainer.innerWidth() + 'px');
        } else {
          imageElement.css('height', imageContainer.innerHeight() + 'px');
        }
      });
    });

    $('.photo').on('click', '.editable_attr a', function() {
      var container = $(this).parent();
      var attr = container.data('attr_name');
      // FIXME: fix attr sending
      container.load('#{edit_photo_path(@photo)}?attr=' + encodeURIComponent(attr), function() {
        container.find('form').submit(function() {
          // FIXME: fix attr sending
          $.post($(this).attr('action'), $(this).serialize() + '&attr=' + encodeURIComponent(attr), function(data) {
            container.replaceWith(data);
          });
          return false;
        });
      });
      return false;
    });
  });
