<h1>Photos#upload</h1>
<p>Find me in app/views/photos/upload.html.erb</p>

<%= form_tag({}, { :multipart => true }) do %>
  <%= file_field_tag 'photos[]', :multiple => true %>
  <%= submit_tag %>
<% end %>
