/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require_tree .
*/

body {
  color: #FFF;
  background: #333;
}

.content {
  position: absolute;
  top: 15px;
  left: 220px;
  right: 20px;
  bottom: 15px;

  .thumbs_list {
    overflow: hidden;

    .thumb {
      float: left;
      width: 105px;
      height: 145px;
      margin: 0 10px 10px 0;
      overflow: hidden;

      img {
        border: 1px solid #999;
        box-shadow: 2px 2px 2px 0 #000;
      }
    }
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 20px;
    }

    .title {
      position: absolute;
      bottom: 0;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  bottom: 0;
  padding: 15px 20px;

  color: #000;
  background: #EEE;

  ul {
    list-style: disc;
    padding-left: 25px;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}
